.fix {
    position: absolute;
    bottom: 120px !important;
    right: 20px !important;
    z-index: -1;
    height: 300px;
}

.sp-art p{
    padding: 10px 0 10px 0;
    font-size: 19px;
}

.sp-art {
    padding: 30px var(--pad) 0 var(--pad);
}

.sp-art p::first-letter {
    font-size: 32px;
}

.p-sec {
    --color: red;
}
.p-sec::first-letter {
    color: var(--color);
}

.first-p {
    font-size: 24px !important;
}
.first-p::first-letter {
    font-size: inherit !important;
}

.art-paragraph {
    font-size: 18px;
}