/* === nav bar === */

nav {
    width: 100%;
    height: var(--nav-height);
}

.logo {
    height: 100%;
    aspect-ratio: 2/1;
    z-index: 100;
    overflow: hidden;
    float: left;
    cursor: pointer;
}

.btn {
    width: 100px;
    height: var(--btn-height);
    margin: calc((var(--nav-height) - var(--btn-height))/2) 10px 10px 0;
    float: right;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.p-lines {
    position: relative;
}

.p-lines, .p-lines::before, .p-lines::after {
    width: 50px;
    --h-size: 4px;
    height: var(--h-size);
    border-radius: 10px;
    background: var(--mode-color);
}

.p-lines::before, .p-lines::after {
    content: "";
    position: absolute;
    left: 0;
}

.p-lines::before {
    top: calc(-2.5*var(--h-size));
}

.p-lines::after {
    top: calc(2.5*var(--h-size))
}