body {
    --clr: rgba(255, 255, 255, 1);
    background: rgba(20, 20, 20, 1);
    color: var(--clr);
}

nav .underln::before {
    background: var(--clr);
}

nav .p-lines, nav .p-lines::before, nav .p-lines::after {
    background: var(--clr);
}

/* === insta place ==== */

#insta-place {
    position: relative;
    --h: 20%;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: var(--h) calc(100% - var(--h));
    --font: 18px;
    font-size: var(--font);
}


.content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 10px;
}

.img-place img {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

main .center-content-flex {
    align-items:start !important; 
}


.name-place .insta-icon {
    height: var(--font) !important;
    width: auto;
}
.insta-icon {
    margin-right: 10px;
}

.insta-user, .insta-icon {
    margin-top: 10px;
    float: left;
}