body {
    background: rgb(20, 28, 39);
    overflow-x: hidden;
}
nav {
    color:rgba(243, 243, 243, 1);
}

nav .underln::before {
    background: rgba(243, 243, 243, 1);
}

.p-lines, .p-lines::before, .p-lines::after {
    background: rgba(243, 243, 243, 1);
}

.fixed-bck {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% auto;
    top: 0;
    z-index: -1;
}

.bulb-bck {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 500px;
}
.bulb-bck img {
    position: absolute;
    right: 0;
}
.earth-bck {
    --w: 100%;
    position: absolute;
    z-index: -1;
    width: var(--w);
    height: auto;
    left: calc(50% - var(--w)/2);
}


/* === */
.paragraph {
    width: calc(100% - 200px);
    margin: auto;
    height: auto;
    padding: 30px 250px 0 50px;
    color: rgba(243, 243, 243, 1);
    text-align: justify;
}



.paragraph img {
    height: 300px;
}



@media (min-width: 1020px) {
    .paragraph {
        width: 70%;
        padding-left: 0;
        padding-right: 0;
        
    }
    .earth-bck img {
        width: 100% !important;
    }
    .bulb-bck {
        top: 50px;
    }
}

@media (max-width:450px) {
    
    .paragraph:nth-child(5) {
        width: calc(100% - 100px);
    }
    .earth-bck {
        bottom: auto;
    }
}

